
<div class="row justify-content-center">
  <div class="form-container col-6 justify-content-center d-flex">
    <div>
      <h4>Welcome to Metal Management Solutions</h4>
      
      <form>
          <div class="form-group">
            <input class="form-control form-control-lg" id="name" type="text" [formControl]="name" placeholder="Enter your name">
            <small id="emailHelp" class="form-text text-muted">Enter your name and submit the form.</small>
          </div>
          <br />
          <button type="button" [disabled]="!name.value" (click)="updateName()" class="btn btn-primary">Submit Form</button>
        </form>
    </div>
  </div>
</div>

<!-- Modal/Pop-up -->
<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}"> 
  <div class="modal-dialog" role="document"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title">MMS Web alert</h4> 
      </div> 
      <div class="modal-body"> 
        <p>Welcome to MMS, {{name.value}}</p> 
      </div> 
      <div class="modal-footer"> 
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()"> 
          Ok 
        </button> 
      </div> 
    </div> 
  </div> 
</div>